<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd/dist/antd.min.css">
    <script src="https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/antd/dist/antd.min.js"></script>


</head>
    <body>
    <h1>Ahora sí pude hostear esta cosa</h1>
    <p>No se quien esté leyendo mucho, pero no sabe cuan feliz estoy.</p>
    <Button class="ant-btn ant-btn-dashed">Este botón no sirve pa na</Button>
    </body>
</html>
